<h1>Listing bookstores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookstores.each do |bookstore| %>
  <tr>
    <td><%= bookstore.name %></td>
    <td><%= bookstore.address %></td>
    <td><%= link_to 'Show', bookstore %></td>
    <td><%= link_to 'Edit', edit_bookstore_path(bookstore) %></td>
    <td><%= link_to 'Destroy', bookstore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookstore', new_bookstore_path %>
