<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookwork.title %>
</p>
<p>
  <b>participants:</b>
    <table border=1>
        <tr>
            <th>participant name</th>
            <th>role</th>
        </tr>

         <% @book_participants.each do |book_participant| %>
            <tr>
                <td><%= book_participant.author.name %></td>
                <td><%= book_participant.author_role.role %></td>
            </tr>
        <% end %>
     </table>
</p>
<p>
  <b>purchased from :</b>
    <%= @bookwork.bookstore.name %>
</p>
<p>
  <b>available at :</b>
  <%= @bookwork.library.library_details %>
</p>
<p>
<p>
  <b>editions:</b>
<table border=1>
  <tr>
    <th>book edition</th>
    <th>isbn_nr</th>
    <th>book format</th>
    <th>Publisher</th>
  </tr>

  <% @book_editions.each do |book_editions| %>
      <tr>
        <td><%= book_editions.book_edition %></td>
        <td><%= book_editions.isbn_nr %></td>
        <td><%= book_editions.book_format.format %></td>
        <td><%= book_editions.publisher.name %></td>
      </tr>
  <% end %>
</table>
</p>


<%= link_to 'Edit', edit_bookwork_path(@bookwork) %> |
<%= link_to 'Back', bookworks_path %>
