<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookwork.title %>
</p>
<p>
    <table border=1>
  <tr>
    <th>name</th>
    <th>role</th>
  </tr>

  <% @book_participants.each do |book_participant| %>
      <tr>
        <td><%= book_participant.author.name %></td>
        <td><%= book_participant.author_role.role %></td>
      </tr>
  <% end %>
</table>

</p>


<%= link_to 'Edit', edit_bookwork_path(@bookwork) %> |
<%= link_to 'Back', bookworks_path %>
